oyaml
loremipsum
PrettyTable
click
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug

asgiref
fastapi
h11
httptools
pydantic
python-dotenv
PyYAML
starlette
typing-extensions
uvicorn
uvloop
watchgod
websockets
